body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 10fr;
}
header{
    grid-column: 1/-1;
    background-color: #582707;
    padding-left: 90px;
    font-weight: bold;
    font-size: x-large;
}
form{
    font-size: 1.4rem;
    position:absolute;
    top: 20vh;
    left:36vw;
    width: 28vw;
    height: 60vh;
    display:none;
    flex-direction: column;
    background-color: #ff4b3e;
    border-radius: 10px;
    border:2px solid #582707;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: 1s ease;
}
form.toggle{
    display: flex;
}
.legend{
    background-color: #972d07;
    color:white;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    height: 40px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
form .ul{
    flex: 1;
    min-width: min-content;
    padding: 30px;
    padding-top: 40px;
    margin: 0;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.entryarea{
    position: relative;
  }
.entryarea input{
    width: 100%;
    position: absolute;
    background-color:transparent;
    border: 2px solid #972d07;
    border-radius: 10px;
    line-height: 40px;
    padding: 5px;
    font-size: 1.4rem;
    outline:0;
    transition:0.1s ease;
    z-index:1111;
}
.entryarea .label{
    position: absolute;
    padding: 0px 10px;
    margin-top: 14px;
    transition: 0.2s ease;
    background-color: #ff4b3e;
}
input:valid ,
input:focus{
   color: #ffb20f;
   border:4px solid #ffb20f;
}
input:valid + .label,
input:focus + .label{
  color:#ffb20f ;
  transform: translate(20px,-25px);
  z-index: 1112;
}
.check{
    display: flex;
    justify-content: space-between;
}
.button-container{
    display:flex;
}
form button{
    flex:1;
    font-size: 1.4rem;
    padding: 9px;
    background:#972d07;
    border:3px solid #582707; 
}
main{
    background: #ffe548;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(200px, 1fr));
    gap:20px;
}
.card{
    border-radius: 6px;
    background: #ffb20f;
    border:2px solid #ff8d0bd2;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 20px;
}
.title, .author{
    text-align: center;
    flex:1;
    font-size: xx-large;
}
.pages, .read{
    font-size: large;
    text-align: center;
}
.button-card{
    max-height: 300px;
    display: grid;
}
.add{
    height: 100px;
    width: 100px;
    align-self: center;
    justify-self: center;
}
.side-bar{
    grid-template-rows: 2/3;
    background:#972D07;
}
footer{
    grid-column: 1/-1;
    background: #000;
}
