body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 10fr;
}
header{
    grid-column: 1/-1;
    background-color: #582707;
    padding-left: 90px;
    font-weight: bold;
    font-size: x-large;
}
form{
    font-size: 1.4rem;
    position:absolute;
    top:30%;
    left:30%;
    width: 20vw;
    height: 50vh;
    display:flex;
    flex-direction: column;
    background-color: #ff4b3e;
    border-radius: 10px;
    border:2px solid #582707;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.legend{
    background-color: #972d07;
    color:white;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    height: 40px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
form ul{
    flex: 1;
    min-width: min-content;
    list-style-type: none;
    padding: 30px;
    padding-top: 40px;
    margin: 0;
    display:grid;
    grid-template-rows: repeat(4,40px);
    gap:25px;
}
form li{
    position: relative;
    display: flex;
    flex-direction: column;
}
li:last-child input{
    align-self: flex-end;
    position: relative;
    top: 8px;
}
form input{
    flex:1;
    background-color: #ff4b3e;
    border: none;
    border-bottom: 2px solid #972d07;
    flex-basis: 10px;
    outline:0;
}
form .label{
    position: absolute;
    top: 12px;
}
input:valid + .label,
input:focus + .label{
   background: red;
}
.button-container{
    display:flex;
}
form button{
    flex:1;
    font-size: 1.4rem;
    padding: 9px;
    border-radius: 7px;
    background:#972d07;
    border:3px solid #582707; 
}
main{
    background: #ffe548;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(200px, 1fr));
    gap:20px;
}
.card{
    border-radius: 6px;
    background: #ffb20f;
    border:2px solid #ff8d0bd2;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 20px;
}
.title, .author{
    text-align: center;
    flex:1;
    font-size: xx-large;
}
.pages, .read{
    font-size: large;
    text-align: center;
}
.button-card{
    max-height: 300px;
    display: grid;
}
.add{
    height: 100px;
    width: 100px;
    align-self: center;
    justify-self: center;
}
.side-bar{
    grid-template-rows: 2/3;
    background:#972D07;
}
footer{
    grid-column: 1/-1;
    background: #000;
}
